




/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    color: #555;
    font-family: Open Sans;
    font-size: 18px;
    position: relative;
    height: 100vh;
    font-weight: 900;
}



/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 100vh;
    background-image: url(Roundboard.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.descripton {
    position: absolute;
    width: 250px;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);    
    color:white;
    background-color: rgb(38, 117, 117);
}
