@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center" >
    <h1 class ="display-4" background-color:>TR Collection</h1>
    <h2 class=" display-6" style="font-weight:600">The Richards Collection is an elegant high end class of hand made cheese and cutting boards.
    These boards are highly desired and will be the talk of you kitchen. </h2>
</div>*@
<div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">TR Collection</h5>
        <p class="card-text">
            The Richards Collection is an elegant high end class of hand made cheese and cutting boards.
            These boards are highly desired and will be the talk of you kitchen.
        </p>
        
    </div>
</div>